<span *ngIf="countryInfo">
  <div style="background : grey">
    <img [src]="countryInfo[0].flag" alt="" class="flagDiv">
  </div>
  <div class="text-center" style="margin : 20px 0">
    <div class="row">
      <div class="col-12">
        <h1>{{countryInfo[0].name}} {{countryInfo[0].nativeName === countryInfo[0].name ? "" : "(" + countryInfo[0].nativeName + ")" }}</h1>
        <h4>Capital City : {{countryInfo[0].capital}}</h4>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="alert alert-secondary" role="alert">
            <h5 class="alert-heading">Physical Parmeters</h5>
            <hr>
            <b>Region : </b> {{countryInfo[0].region}}
            <br>
            <b>Subregion : </b> {{countryInfo[0].subregion}}
            <br>
            <b>Latitude : </b> {{countryInfo[0].latlng[0]}}
            <br>
            <b>Longitude : </b> {{countryInfo[0].latlng[1]}}
            <br>
            <b>Area : </b> {{countryInfo[0].area}}
            <br>
            <b>Borders : </b>
            <span class="badge badge-secondary" style="display : inline-block; cursor : pointer; margin : 0 5px;" *ngFor="let borderCountry of countryInfo[0].borders">
              <a (click)="goToCountry(borderCountry)">{{borderCountry}}</a>
            </span>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <div class="alert alert-secondary" role="alert">
            <h5 class="alert-heading">Languages</h5>
            <hr>
            <span *ngFor="let language of countryInfo[0].languages; let i = last">
              <a [routerLink] = "['/allCountries/' + countryInfo[0].region]" [queryParams]="{ 'language' : language.iso639_1, 'name' : language.name}">{{language.name}}</a><br>
            </span>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <div class="alert alert-secondary" role="alert">
            <h5 class="alert-heading">Other Details</h5>
            <hr>
            <b>Top Level Domain</b> : {{countryInfo[0].topLevelDomain}} <br> 
            <b>alpha2Code</b> : {{countryInfo[0].alpha2Code}} <br>
            <b>alpha3Code</b> : {{countryInfo[0].alpha3Code}} <br>
            <b>Calling Codes</b> : <span *ngFor="let code of countryInfo[0].callingCodes; let i = last">{{code}}{{i ? "" : ","}}</span> <br>
            <b>Population</b> : {{countryInfo[0].population}} <br>
            <b>Currencies</b> : <span *ngFor="let currency of countryInfo[0].currencies; let i = last"><a [routerLink] = "['/allCountries/' + countryInfo[0].region]" [queryParams]="{ 'currency' : currency.code, 'name' : currency.name}" >{{currency.name}} </a>{{i ? "" : ","}}<br></span>
            <b>TimeZone</b> : <span *ngFor="let time of countryInfo[0].timezones">{{time}}<br></span> <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>