.full-screen{
    height : 100vh;
    background-color: #001E29;
    overflow: hidden;
    padding-top : 20px;
    text-align: center;
}
.map{
    margin-top: 20px;
}
.title{
    font-family: 'Skranji', cursive;
    color : white;
    text-shadow: 2px 2px #ff0000;
    background: #2f4f4f;
    text-align: center;
    border-radius: 50px;
    font-size: 3rem;
    padding : 10px;
}
.on-small-screen{
    display: none;
}

@media only screen and (max-width: 1076px) {
    .map{
        display : none;
    }
    .on-small-screen{
        display: block;
    }
    .full-screen{
        overflow: auto;
    }
    .region-block{
        background: #A9A9A9;
        margin : 20px 0px;
        padding : 10px;
        box-shadow: 2px 2px 8px #888888;
    }
}

@media only screen and (max-width : 583px){
    .title{
        font-size : 2rem;
    }
}

